<a href="https://colab.research.google.com/github/velavalururajithasai/ml_dl/blob/master/python_step.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
arr=np.array([[101,'Ajay',20,'Chennai'],
              [102,'Aman',40,'Hyderabad'],
              [103,'Anita',60,'Banglore']])
print(arr)

[['101' 'Ajay' '20' 'Chennai']
 ['102' 'Aman' '40' 'Hyderabad']
 ['103' 'Anita' '60' 'Banglore']]

In [3]:
import pandas as pd
df=pd.DataFrame(arr,columns=['ID','Name','Age','City'])
print(df)

    ID   Name Age       City
0  101   Ajay  20    Chennai
1  102   Aman  40  Hyderabad
2  103  Anita  60   Banglore

In [4]:
df.shape

(3, 4)

In [5]:
df.size

12

In [6]:
df.columns

Index(['ID', 'Name', 'Age', 'City'], dtype='object')

In [9]:
df['Name'][0]="Dinesh"
print(df)

    ID    Name Age       City
0  101  Dinesh  20    Chennai
1  102    Aman  40  Hyderabad
2  103   Anita  60   Banglore

In [10]:
df.iloc[0:2,:3]
print(df)

    ID    Name Age       City
0  101  Dinesh  20    Chennai
1  102    Aman  40  Hyderabad
2  103   Anita  60   Banglore

In [11]:
df=df.assign(income=[1000,1250,2000])
print(df)

    ID    Name Age       City  income
0  101  Dinesh  20    Chennai    1000
1  102    Aman  40  Hyderabad    1250
2  103   Anita  60   Banglore    2000

In [12]:
df.set_index('ID')

       Name Age       City  income
ID
101  Dinesh  20    Chennai    1000
102    Aman  40  Hyderabad    1250
103   Anita  60   Banglore    2000

In [15]:
df=df.assign(bonus=[200,120,500])
print(df)

    ID    Name Age       City  income  bonus
0  101  Dinesh  20    Chennai    1000    200
1  102    Aman  40  Hyderabad    1250    120
2  103   Anita  60   Banglore    2000    500

In [16]:
del df['bonus']
df

    ID    Name Age       City  income
0  101  Dinesh  20    Chennai    1000
1  102    Aman  40  Hyderabad    1250
2  103   Anita  60   Banglore    2000